<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="jumbotron col-md-10">
					<h1>Ocorreu um erro.</h1>
					<div class="alert alert-warning">
						 Você não tem permissão para acessar esse conteúdo.
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
