<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h2>Lista de Produtos</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a class="btn btn-primary" data-toggle="modal" 
						data-target="#modal-form"> 
							<i class="fa fa-plus-square"></i> Novo Registro
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem de sucesso!</span>
			</div>

			<div class="table-responsive">
				<table id="tabela-produto"
					class="table  table-striped  table-bordered  table-hover  table-condensed">
					<thead class="ut-table-header-solid">
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:id="'row_' + ${produto.id}" th:each="produto: ${list.content}">
							<td style="width:150px" class="text-center" th:text="${produto.id}">0</td>
							<td><a th:href="'javascript:editSerie(\'/produto/ajax/' + ${produto.id} + '\');'"
								th:text="${produto.nome}">...</a></td>

							<td style="width:200px" class="text-center">
								<a 
th:href="'javascript:editProduto(\'/produto/ajax/' + ${produto.id} + '\');'"
									class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i>
								</a> &nbsp;
								<a th:href="'javascript:remove('+ ${produto.id} +',\'/produto\');'"
									class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						<tr th:if="${list.empty}">
							<td colspan="3">Nenhum registro encontrado.</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination" th:if="${list.totalPages > 0}" >
						<li class="page-item" 
							th:classappend="${pageNumber==list.number + 1} ? active" 
							th:each="pageNumber : ${pageNumbers}">
					    	<a class="page-link" 
					    	    th:href="@{/produto/page(size=${list.size}, page=${pageNumber})}"
					        	th:text="${pageNumber}"></a>
				        </li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="modal modal-form" th:id="modal-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Produto</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">x</button>
					</div> <!-- modal-header -->
					<div class="modal-body">
						<form id="frm" name="frm"
							method="POST" class="form-vertical" 
							th:action="@{/produto/upload}"
							enctype="multipart/form-data">
							<input type="hidden" id="id" name="id"/>
							<div class="form-group">
								<label for="nome">Nome</label> 
								<input type="text" class="form-control" 
									id="nome" name="nome" />
							</div>
							<div class="form-group">
								<label for="resumo">Descrição Resumida</label> 
								<textarea id="resumo" name="resumo"
									class="form-control"
									cols="5" rows="5"> </textarea>
							</div>
								<div class="form-group">
								<label for="descricao">Descrição</label> 
								<textarea id="descricao" name="descricao"
									class="form-control"
									cols="5" rows="5"> </textarea>
							</div>
							<div class="form-group">
								<label for="tamanho">Tamanho</label> 
								<input type="text" class="form-control" 
									id="tamanho" name="tamanho" />
							</div>
							<div class="form-group">
								<label for="categoria">Categoria</label>
								<select id="categoria" name="categoria" class="form-control">
									<option value=""> (Selecione) </option>
									<option th:each="categoria: ${categorias}"
										th:value="${categoria.id}"
										th:text="${categoria.nome}"></option>
								</select>
							</div> 
							<div class="form-group">
								<label for="marca">Marca</label>
								<select id="marca" name="marca" class="form-control">
									<option value=""> (Selecione) </option>
									<option th:each="marca: ${marcas}"
										th:value="${marca.id}"
										th:text="${marca.nome}"></option>
								</select>
							</div> 
							<div class="form-group">
								<label for="anexos">Várias imagens:</label>
								<input type="file" name="anexos" id="anexos"
									multiple
									required class="form-control" />
							</div>
						</form>
					</div> <!-- modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal"
							aria-hid	den="true">Cancelar</button>
						<button type="button" class="btn btn-success" 
							onclick="saveUpload('/produto/page')">Salvar</button>
					</div>
				</div> <!-- modal-content -->
			</div> <!-- modal-dialog -->
		</div> <!-- modal-form -->
		<script type="text/javascript" th:src="@{/js/crud-produto.js}"></script>
	</section>
</body>