<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h2>Lista de Fornecedores</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a class="btn btn-primary" data-toggle="modal" 
						data-target="#modal-form"> 
							<i class="fa fa-plus-square"></i> Novo Registro
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem de sucesso!</span>
			</div>

			<div class="table-responsive">
				<table id="tabela-fornecedor"
					class="table  table-striped  table-bordered  table-hover  table-condensed">
					<thead class="ut-table-header-solid">
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:id="'row_' + ${fornecedor.id}" th:each="fornecedor: ${list.content}">
							<td style="width:150px" class="text-center" th:text="${fornecedor.id}">0</td>
							<td><a th:href="'javascript:editFornecedor(\'/fornecedor/ajax/' + ${fornecedor.id} + '\');'"
								th:text="${fornecedor.razaoSocial}">...</a></td>

							<td style="width:200px" class="text-center">
								<a 
th:href="'javascript:editFornecedor(\'/fornecedor/ajax/' + ${fornecedor.id} + '\');'"
									class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i>
								</a> &nbsp;
								<a th:href="'javascript:remove('+ ${fornecedor.id} +',\'/fornecedor\');'"
									class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						<tr th:if="${list.empty}">
							<td colspan="3">Nenhum registro encontrado.</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination" th:if="${list.totalPages > 0}" >
						<li class="page-item" 
							th:classappend="${pageNumber==list.number + 1} ? active" 
							th:each="pageNumber : ${pageNumbers}">
					    	<a class="page-link" 
					    	    th:href="@{/fornecedor/page(size=${list.size}, page=${pageNumber})}"
					        	th:text="${pageNumber}"></a>
				        </li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="modal modal-form" th:id="modal-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Fornecedores</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">x</button>
					</div> <!-- modal-header -->
					<div class="modal-body">
						<form id="frm" name="frm"
							method="POST" class="form-vertical" 
							th:action="@{/fornecedor/ajax}">
							<input type="hidden" id="id" name="id"/>
							<div class="form-group">
								<label for="razaoSocial">Razão Social</label> 
								<input type="text" 
								    class="form-control" 
									id="razaoSocial" name="razaoSocial" />
							</div>
								<div class="form-group">
								<label for="cnpj">CNPJ</label> 
								<input type="text" 
								    class="form-control" 
									id="cnpj" name="cnpj" />
							</div>
								<div class="form-group">
								<label for="rua">Endereço</label> 
								<input type="text" 
								    class="form-control" 
									id="rua" name="rua" />
							</div>
								<div class="form-group">
								<label for="bairro">Bairro</label> 
								<input type="text" 
								    class="form-control" 
									id="bairro" name="bairro" />
							</div>
								<div class="form-group">
								<label for="cep">CEP</label> 
								<input type="text" 
								    class="form-control" 
									id="cep" name="cep" />
							</div>´
								<div class="form-group">
								<label for="complemento">Complemento</label> 
								<input type="text" 
								    class="form-control" 
									id="complemento" name="complemento" />
							</div>						
								<div class="form-group">
								<label for="referencia">Ponto de Referência</label> 
								<input type="text" 
								    class="form-control" 
									id="referencia" name="referencia" />
							</div>
							<div class="form-group">
								<label for="cidade">Cidade</label>
								<select id="cidade" name="cidade" class="form-control">
									<option value=""> (Selecione) </option>
									<option th:each="cidade: ${cidades}"
										th:value="${cidade.id}"
										th:text="${cidade.nome}"></option>
								</select>
							</div> 
						</form>
					</div> <!-- modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal"
							aria-hid	den="true">Cancelar</button>
						<button type="button" class="btn btn-success" 
							onclick="save('/fornecedor/page')">Salvar</button>
					</div>
				</div> <!-- modal-content -->
			</div> <!-- modal-dialog -->
		</div> <!-- modal-form -->
		<script type="text/javascript" th:src="@{/js/crud.js}"></script>
		<script type="text/javascript" th:src="@{/js/crud-fornecedor.js}"></script>
	</section>
</body>